---
# Add cgroup memory flags to kernel cmdline

- name: Ensure cgroup memory flags are in /boot/firmware/cmdline.txt
  lineinfile:
    path: /boot/firmware/cmdline.txt
    backrefs: no
    insertafter: EOF
    line: "{{ lookup('file', '/boot/firmware/cmdline.txt') | regex_replace('\n', ' ') }} cgroup_enable=memory cgroup_memory=1"
  register: cgroup_edit
  when: "'cgroup_enable=memory' not in lookup('file', '/boot/firmware/cmdline.txt')"

- name: Reboot after cgroup update
  reboot:
    msg: "Rebooting {{ inventory_hostname }} to apply cgroup settings"
    connect_timeout: 5
    reboot_timeout: 600
  when: cgroup_edit is changed
