---
- name: Disable IPv6 via sysctl
  sysctl:
    name: "{{ item }}"
    value: "1"
    state: present
  loop:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6

- name: Ensure IPv6 is disabled persistently
  lineinfile:
    path: /etc/sysctl.conf
    regexp: "^{{ item }}"
    line: "{{ item }}=1"
  loop:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6
    - net.ipv6.conf.lo.disable_ipv6
