---
- name: Get join token from master
  delegate_to: storm
  command: microk8s add-node --token-ttl 3600
  register: join_cmd
  run_once: true

- name: Display join command
  debug:
    msg: "{{ join_cmd.stdout }}"

- name: Join MicroK8s cluster
  shell: "{{ join_cmd.stdout_lines | select('match', 'microk8s join') | first }}"
  args:
    warn: false
